In [1]:
# Import main libraries
import os
import pandas as pd
import numpy as np

DIR = os.path.abspath('')
IN_FOLDER = os.path.join(os.path.dirname(DIR), "in")

# Input data paths
BREED_LABELS = os.path.join(IN_FOLDER, "breed_labels.csv")
COLOR_LABELS = os.path.join(IN_FOLDER, "color_labels.csv")
STATE_LABELS = os.path.join(IN_FOLDER, "state_labels.csv")

In [2]:
# Store the input data to DataFrames
breed_labels = pd.read_csv(BREED_LABELS)
color_labels = pd.read_csv(COLOR_LABELS)
state_labels = pd.read_csv(STATE_LABELS)

In [5]:
# breed_labels contains the breed names for both dogs (type=1) and cats (type=2)
breed_labels.iloc[np.r_[0:2, -2:0]]

     BreedID  Type      BreedName
0          1     1  Affenpinscher
1          2     1   Afghan Hound
305      305     2    Turkish Van
306      306     2         Tuxedo

In [8]:
# color_labels are the color names with their ids.
# It is the color of the pet's coat. Each pet has at most 3 colors.
# It will be used in the train/test.csv files
color_labels

   ColorID ColorName
0        1     Black
1        2     Brown
2        3    Golden
3        4    Yellow
4        5     Cream
5        6      Gray
6        7     White

In [10]:
# state_labels are the 15 states of Malaysia
# The state where the pet is from is recorded in the train/test.csv files
state_labels

    StateID        StateName
0     41336            Johor
1     41325            Kedah
2     41367         Kelantan
3     41401     Kuala Lumpur
4     41415           Labuan
5     41324           Melaka
6     41332  Negeri Sembilan
7     41335           Pahang
8     41330            Perak
9     41380           Perlis
10    41327     Pulau Pinang
11    41345            Sabah
12    41342          Sarawak
13    41326         Selangor
14    41361       Terengganu